/* general style */
* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto;
}

/* .............................home html styling ..............................*/
/* header style */
header {
  background-color: rgb(36, 32, 32);
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
header .textportfolio {
  color: aliceblue;
  align-content: flex-end;
  padding-left: 5rem;
  font-size: 20px;
}

header .textwebdev {
  color: aliceblue;
  grid-column: span 2;
  font-size: 60px;
  padding-left: 2rem;
}

/* navigation styling */
ul {
  display: flex;
  gap: 3rem;
  padding-top: 3rem;
  justify-content: center;
}
ul li {
  list-style: none;
}
ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  flex-direction: column;
  font-size: larger;
  padding-top: 3rem;
}

ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
  color: rgb(180, 110, 5);
  cursor: pointer;
  transition: 120ms;
}
ul li a:active {
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
  color: green;
}

/* styling main content */
main {
  background-color: whitesmoke;
}

.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  gap: 0.4rem;
  background-color: red;
}

.homepage img {
  width: 30rem;
  padding-left: 3rem;
  grid-row: span 2;
}
.homepage p {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 0.9rem;
}

/* styling buttons */
.connect {
  background-color: purple;
  color: white;
  font-size: large;
  padding: 1.5rem;
  padding-left: 6rem;
  padding-right: 6rem;
  border-radius: 0.8rem;
  border: none;
  box-shadow: black -7px 4px 7px;
  margin-top: 3rem;
}
.connect:hover {
  background-color: rgb(139, 85, 2);
  font-style: italic;
  cursor: pointer;
  border-color: white;
  transition: 120ms;
  box-shadow: black -5px 3px 8px;
}
.resume {
  background-color: rgb(80, 80, 79);
  color: white;
  border: none;
  border-radius: 0.4rem;
  padding: 0.6rem;
  margin-left: 3rem;
  box-shadow: black -7px 4px 7px;
  margin-top: 3rem;
}
.resume:hover {
  background-color: rgb(51, 34, 0);
  color: rgb(128, 118, 118);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: black -5px 3px 8px;
}

/* styling section myprojects */
.myprojects {
  background-color: rgb(252, 252, 252);
  display: grid;
  height: 700px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 4rem;
}

/* styling section testimonials */
.testimonial {
  display: grid;
  height: 200px;
  padding: 0.6rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.9rem;
}

.testimonial div {
  background-color: purple;
  color: white;
  border-radius: 0.5rem;
}
.testimonial h3 {
  padding: 0.5rem;
}
.testimonial p {
  padding: 0.5rem;
}
/* styling footer */
#contacts {
  display: flex;
  flex-direction: row;
  padding-top: 0.3rem;
  padding-bottom: 2rem;
}
#contacts a {
  text-decoration: none;
  color: rgb(0, 0, 104);
}
footer p {
  text-align: center;
  padding-bottom: 2rem;
}
